/* HTML*/
html,
body{
overflow-x:hidden;
background-color: rgb(24, 21, 54);
}

/* Sempre em movimento*/
h1{
font-family:serif;
font-size:70px;
text-align:center;
letter-spacing:8px;
line-height:0%;
padding-top:290px;
color:aliceblue
}

/* Objetivos do Site */
h2{
font-family:serif;
font-size:30px;
text-align:relative;
letter-spacing:1.5px;
line-height:1px;
padding-top:15px;
padding-left:650px;
padding-bottom:15px;
color:aliceblue;
}

/* Listas */
li{
list-style-type:none;
font-family:Arial;
font-style: italic;
font-size:20px;
letter-spacing:6px;
line-height:29px;
position:relative;
left:450px;
color: aliceblue;
}

/* Imagem titulo */
.header{
background-image: url(img/Caminhão\ .PNG);
background-size:cover;
background-position:center;
height:100vh;
height:400px;
width:100%;
overflow: hidden;
}

/* Imagens Lik */

.image-container {
display:flex;                
justify-content:space-around; 
align-items:center;           
gap:20px;                    
padding:20px;                 
}
  
/* Estilos comuns para todas as imagens */
.Processos img, .Cadastro img, .Segmentos img, .Tecnologias img {
max-width: 100%;
max-height: 100%;
width: 400px;                  
height: 400px;
}
  
/* Link */
.moreinfo-container{
font-family:serif;
font-size:30px;
text-align:relative;
letter-spacing:1.5px;
line-height:1px;
padding-top:15px;
padding-left:650px;
padding-bottom:15px;
color:rgb(4, 24, 43);
}
