html{
font-family: Helvetica;
background-color: rgb(17, 14, 65);
}

/* Lista */
h1{
font-family: arial;
color: aliceblue;
}
h2{
color: brown;
}
h3{
font-family: helvetica;
font-size: 40px;
color:white;
}
ul{
border: 10px;
padding-left: 10px;
text-align: center;
}

li{
font-family:Arial;
font-style: italic;
font-size: 18px;
letter-spacing: 2px;
line-height: 25px;
padding: 10px;
text-align:justify;
color: aliceblue;
}